@import url('https://fonts.cdnfonts.com/css/public-pixel');
@import url('https://fonts.cdnfonts.com/css/cascadia-code');

body{
    margin: 0;
    width: auto;
    height: 900px;
    background-image: url('bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000405;
    background-position: right;

}

.text-div {
    padding: 7rem 2.5rem 5rem 2.5rem;
    margin: auto;
    height: 55rem;
    width: auto;
    color: #FFFFFF;
    margin-left: 0;
    text-align: left;
    
}

.text-div #h3{
    font-family: 'Public Pixel' ;
    font-size: 3rem;
    line-height: 2.5;
}

.text-div p{
    font-size: 1.7rem;
    font-family: 'Cascadia Code';
}

.text-div span{
    color: #66a6b8;
}